.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
  align-items: center;
  justify-items: center; /* adjusted */
}

.battleship__board {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --board-rows: 10;
  --board-columns: 10;
  position: absolute;
  width: 380px;
  height: 380px;
  border: 1px solid #000;
  display: grid;
  z-index: 800;
  grid-template-columns: repeat(var(--board-columns), 1fr);
  grid-template-rows: repeat(var(--board-rows), 1fr);
}

.board__square {
  --board-rows: 10;
  --board-columns: 10;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: crosshair;
  transition: background-color 0.1s ease-in-out;
}

.board__square_disable {
  filter: hue-rotate(130deg);
}

.rotateVertical {
  transform: rotate(270deg);
}
.modalContainer{
  z-index: 1000;
}
@media only screen and (max-width: 390px) {
  .battleship__board {
    width: 320px;
    height: 320px;
  }
  .modalContainer {
    bottom: 2%;
  }
  .rotateVertical {
    height: 30px;
  }
}

@media only screen and (max-width: 600px ) and ( min-width: 390px ) {
  .battleship__board {
    width: 320px;
    height: 320px;
  }
  .modalContainer {
    bottom: 2%;
  }
  .rotateVertical {
    height: 30px;
  }
}

@media only screen and (min-width: 600px) {
  .battleship__board {
    width: 550px;
    height: 550px;
  }
  .modalContainer {
    top: 2%;
  }
}

@media only screen and (min-width: 992px) {
  .battleship__board {
    width: 750px;
    height: 750px;
  }
  .modalContainer {
    top: 2%;
  }
  .rotateVertical {
    height: 80px;
  }
}


.confetti {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10000;
}
.confetti-piece {
  position: absolute;
  width: 20px;
  height: 50px;
  background: #ffd300;
  top: 0;
  opacity: 0;
}
.confetti-piece:nth-child(1) {
  left: 7%;
  -webkit-transform: rotate(-40deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 182ms;
  -webkit-animation-duration: 1116ms;
}
.confetti-piece:nth-child(2) {
  left: 14%;
  -webkit-transform: rotate(4deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 161ms;
  -webkit-animation-duration: 1076ms;
}
.confetti-piece:nth-child(3) {
  left: 21%;
  -webkit-transform: rotate(-51deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 481ms;
  -webkit-animation-duration: 1103ms;
}
.confetti-piece:nth-child(4) {
  left: 28%;
  -webkit-transform: rotate(61deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 334ms;
  -webkit-animation-duration: 708ms;
}
.confetti-piece:nth-child(5) {
  left: 35%;
  -webkit-transform: rotate(-52deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 302ms;
  -webkit-animation-duration: 776ms;
}
.confetti-piece:nth-child(6) {
  left: 42%;
  -webkit-transform: rotate(38deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 180ms;
  -webkit-animation-duration: 1168ms;
}
.confetti-piece:nth-child(7) {
  left: 49%;
  -webkit-transform: rotate(11deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 395ms;
  -webkit-animation-duration: 1200ms;
}
.confetti-piece:nth-child(8) {
  left: 56%;
  -webkit-transform: rotate(49deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 14ms;
  -webkit-animation-duration: 887ms;
}
.confetti-piece:nth-child(9) {
  left: 63%;
  -webkit-transform: rotate(-72deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 149ms;
  -webkit-animation-duration: 805ms;
}
.confetti-piece:nth-child(10) {
  left: 70%;
  -webkit-transform: rotate(10deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 351ms;
  -webkit-animation-duration: 1059ms;
}
.confetti-piece:nth-child(11) {
  left: 77%;
  -webkit-transform: rotate(4deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 307ms;
  -webkit-animation-duration: 1132ms;
}
.confetti-piece:nth-child(12) {
  left: 84%;
  -webkit-transform: rotate(42deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 464ms;
  -webkit-animation-duration: 776ms;
}
.confetti-piece:nth-child(13) {
  left: 91%;
  -webkit-transform: rotate(-72deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 429ms;
  -webkit-animation-duration: 818ms;
}
.confetti-piece:nth-child(odd) {
  background: #7431e8;
}
.confetti-piece:nth-child(even) {
  z-index: 1;
}
.confetti-piece:nth-child(4n) {
  width: 5px;
  height: 12px;
  -webkit-animation-duration: 2000ms;
}
.confetti-piece:nth-child(3n) {
  width: 3px;
  height: 10px;
  -webkit-animation-duration: 2500ms;
  -webkit-animation-delay: 1000ms;
}
.confetti-piece:nth-child(4n-7) {
background: red;
}
@-webkit-keyframes makeItRain {
  from {opacity: 0;}
  50% {opacity: 1;}
  to {-webkit-transform: translateY(350px);}
}


@mixin anim($name, $dur, $iterate) {
  animation-name: $name;
  animation-duration: $dur;
  animation-iteration-count:$iterate;
}

#gameOver {
  font-family: 'VT323', ;
  font-size:2em;
  text-align:center;
  -webkit-animation: example 1000ms infinite ease-in;
}

@keyframes example {
  0%{color:rgb(187, 36, 16); text-shadow:0 0 20px rgb(46, 236, 227)}
  25%{color:green; text-shadow:2px 2px 2px rgb(255, 30, 0); transform: translate(-2px,1px)}
  40%{color:lime; text-shadow:none; transform: translate(0,0)}
  50%{color:green; text-shadow:5px 5px 2px blue, -5px -5px 2px red; transform: translate(0px,5px)}
  70%{color:#5535e7; text-shadow:none; transform: translate(0,0)}
  80%{color:lime; text-shadow:0 0 20px green; transform: translate(-2px,1px)}
  100%{color:lime; text-shadow:none;}
}